
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url("./Assets/Peachy\ Pink.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


header {
    background: #444;
    color: #f1f1f1;
    padding: 5px 0;
    text-align: center;
    font-family: 'Georgia', serif;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    color: #ffcc00;
    font-family: 'Courier New', Courier, monospace; 

}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    font-size: 1.8em;
}


p {
    margin: 10px 0;
}

p strong {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 1.8em;
    }

    section h2 {
        font-size: 1.5em;
    }
}
